<div class="center">
    <h1>Select theme to start game</h1>
</div>
<div class="theme-list">
    @for (theme of themes | async; track theme.id) {
        <a class="theme-list-item" [routerLink]="['/theme/', theme.id]">
            <mat-card class="theme-card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title>{{theme.name}}</mat-card-title>
                        <mat-card-subtitle>{{imagesCount(theme)}} Images</mat-card-subtitle>
                        <img mat-card-md-image [src]="themeImage(theme)" width="320" height="240" alt="No Image">
                    </mat-card-title-group>
                </mat-card-header>     
                <mat-card-content>&nbsp;</mat-card-content>
                <mat-card-footer class="theme-card-footer">
                    {{theme.description || "&nbsp;"}}
                </mat-card-footer>
            </mat-card>
        </a>
    }
</div>