@if (theme) {
    <mat-toolbar>
        <span>{{theme.name}}</span>
        <span class="toolbar-spacer"></span>
        <button mat-icon-button (click)="deleteTheme()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-toolbar>
}
<div>
    <div class="edit-container-2">
        <div class="edit-col-1">
            <div class="edit-image-form">
                <mat-form-field class="edit-image-full-width">
                    <mat-label>Flickr Photo Source ID</mat-label>
                    <input matInput [(ngModel)]="imageSource" >
                    <button mat-icon-button matSuffix (click)="imageInfo()" type="button">
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field class="edit-image-full-width">
                    <mat-label>Description</mat-label>
                    <textarea matInput [(ngModel)]="description"></textarea>
                </mat-form-field>
                @if (previewImage) {
                    <p>{{metaData}}</p>
                }
                <button mat-raised-button color="accent" [disabled]="!previewImage" (click)="addImage()">Add Image</button>
            </div>         
        </div>
        <div class="edit-col-2">
            @if (previewImage) {
                <img [ngSrc]="imgSmallSource(previewImage)" width="320" height="240" alt="No Image">   
            }            
        </div>
    </div>
    @if (theme && theme.sourceType != 'flickr-group')  {
        <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab label="Image List">
                <div class="image-list">
                    @for (image of images; track image.id) {
                        <mat-card class="edit-card">
                            <img mat-card-image [ngSrc]="imgSmallSource(image)" width="320" height="240" alt="No Image">
                            <mat-card-content>{{image.description}}</mat-card-content>
                            <mat-card-actions align="end">
                                <button mat-button (click)="deleteImage(image)">Delete</button>
                            </mat-card-actions>
                        </mat-card>
                    }
                </div>
            </mat-tab>
            <mat-tab label="Map">
                @defer (when loadMap) {
                    <image-map class="edit-map-container" [images]="images"></image-map>
                }
            </mat-tab>
        </mat-tab-group>
    }
</div> 