<div>
    <form [formGroup]="editImage" (ngSubmit)="onSubmit()" class="edit-image-form">
        <mat-form-field class="edit-image-full-width">
            <mat-label>Source</mat-label>
            <input matInput formControlName="source">
        </mat-form-field>
        <table class="example-full-width" cellspacing="0"><tr>
            <td><mat-form-field class="edit-image-full-width">
              <mat-label>Longitude</mat-label>
              <input matInput formControlName="longitude">
            </mat-form-field></td>
            <td><mat-form-field class="edit-image-full-width">
              <mat-label>Latitude</mat-label>
              <input matInput formControlName="latitude">
            </mat-form-field></td>
          </tr></table>
        <mat-form-field class="edit-image-full-width">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">Create</button>
    </form>
    <div *ngFor="let image of (images | async)">
        <mat-card class="edit-card">
            <mat-card-title>{{image.source}}</mat-card-title>
            <img mat-card-image [ngSrc]="imgSmallSource(image)" width="320" height="240" alt="No Image">
            <mat-card-content>{{image.description}}</mat-card-content>
        </mat-card>
    </div>
</div>