.play-container {
    height: 100vh;
    display: block;
    @media (min-width:768px) {
        display: grid;
        grid-template-columns: 70% 30%;
    }   
}

.play-container > * {
    padding: 24px;
}

.suggestion-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.map-container {
    width: 800px;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.place-list {
    width: 400px;
}

.button-row {
    display: table-cell;
    max-width: 600px;
}
  
.button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
}

.result-section {
    padding-top: 8px;
}

.score-card {
    max-width: 400px;
}
  
.score-card-footer {
    padding: 16px;
}