@if (selectedImage) {
<div class="play-container">
    <div class="image-container">
        <div>
            <img [src]="imgSource(selectedImage)" [style.width.px]="width" [style.height.px]="height" alt="No Image" (click)="imageClick()">
        </div>
        <place-suggestion #placeSuggestion (selectionChange)="onPlaceSelection($event)" [suggestionOptions]="placeSuggestionOptions" [countryCodeFilter]="countryCodes"></place-suggestion>
        @switch (playStatus) {
            @case ('next_image') { 
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextImage()">Next Image</button>
                </div>
            }
            @case ('play_end') {
                <div class="button-row">                    
                    <a mat-button color="accent" (click)="pageRefresh()">New Game</a>
                    <a mat-button [routerLink]="['/result', totalResult.id]">Score Details</a>
                </div>
            }
            @case ('next_suggestion') {
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextSuggestion()">Try Again</button>
                    @if (hasMoreImages()) {
                        <button mat-button color="accent" (click)="nextImage()">Next Image</button>
                    }                    
                </div>                
            }
            @default {
                <div class="button-row">
                    @if (hasMoreImages()) {
                        <button mat-button color="accent" (click)="nextImage()">Next Image</button>
                    }
                </div>                
            }
        }
        @defer {
            <image-map class="map-container" [disableMapClick]="playEnd" (selectionChange)="placeSuggestion.setSuggestion($event)"></image-map>
        }        
    </div>
    <div class="score-container">
        @if (hasMoreImages()) {
            <count-down [seconds]="60" (complete)="onCountDownEnd()"></count-down>
        }
        @if (persistScore) {<player></player>}              
        <mat-card class="score-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{theme.name}}</mat-card-title>
              <mat-card-subtitle>{{theme.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Playing image {{imageProvider.currentImageIndex+1}} out of {{imageLengthMessage()}}</p>
            </mat-card-content>
            <mat-card-footer class="score-card-footer">
                <p>Total Score: {{totalScore()}}</p>
            </mat-card-footer>
        </mat-card>
        @for (result of tryResults; track $index) {
            <div class="result-section">
                <mat-icon [color]="result.suggestionOptions.iconColor">{{result.suggestionOptions.icon}}</mat-icon>
                {{result.suggestion.description}} <br>
                {{result.suggestionOptions.message}}
            </div>
        }
        @if (tryResults.length > 0) {
            <h3>Score: {{score}}</h3>
        }
    </div>
</div>
} @else {
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
}