<div *ngIf="initialized" class="play-container">
    <div class="image-container">
        <div>
            <img [src]="imgSource(selectedImage)" width="800" height="600" alt="No Image">
        </div>
        <place-suggestion #placeSuggestion (selectionChange)="onPlaceSelection($event)" [suggestionOptions]="placeSuggestionOptions"></place-suggestion>
        <ng-container [ngSwitch]="playStatus">
            <ng-container *ngSwitchCase="'next_image'">
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextImage()">Next Image</button>
                    <a mat-button routerLink="/">Cancel</a>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'play_end'">
                <div class="button-row">
                    <a mat-button [routerLink]="['/result', totalResult.id]">Score Details</a>
                    <a mat-button color="accent" routerLink="/">New Game</a>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="'next_suggestion'">
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextSuggestion()">Try Again</button>
                    <a mat-button routerLink="/">Cancel</a>
                </div>
            </ng-container>            
            <ng-container *ngSwitchDefault>
                <div class="button-row">
                    <a mat-button routerLink="/">Cancel</a>
                </div>
            </ng-container>
        </ng-container>
        <image-map class="map-container" [center]="true" (selectionChange)="placeSuggestion.setSuggestion($event)"></image-map>
    </div>
    <div>
        <h1>{{theme.name}}</h1>
        <p>{{theme.description || ''}}<p>
        <p>Playing image {{selectedImageIndex+1}} out of {{images.length}}</p>
        <mat-divider></mat-divider>
        <p>Score: {{score}}</p>
        <div *ngFor="let result of tryResults">
            <div class="result-section">
                <mat-icon [color]="result.suggestionOptions.iconColor">{{result.suggestionOptions.icon}}</mat-icon>
                {{result.suggestion.description}} <br>
                {{result.suggestionOptions.message}}
            </div>
        </div>
    </div>
</div>