@if (selectedImage) {
<div class="play-container">
    <div class="image-container">
        <div>
            <img [src]="imgSource(selectedImage)" width="800" height="600" alt="No Image" (click)="imageClick()">
        </div>
        <place-suggestion #placeSuggestion (selectionChange)="onPlaceSelection($event)" [suggestionOptions]="placeSuggestionOptions" [countryCodeFilter]="countryCodes"></place-suggestion>
        @switch (playStatus) {
            @case ('next_image') { 
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextImage()">Next Image</button>
                    <a mat-button routerLink="/">Exit</a>
                </div>
            }
            @case ('play_end') {
                <div class="button-row">                    
                    <a mat-button color="accent" routerLink="/">New Game</a>
                    <a mat-button [routerLink]="['/result', totalResult.id]">Score Details</a>
                    <a mat-button routerLink="/">Exit</a>
                </div>
            }
            @case ('next_suggestion') {
                <div class="button-row">
                    <button mat-button color="accent" (click)="nextSuggestion()">Try Again</button>
                    <a mat-button routerLink="/">Exit</a>
                </div>                
            }
            @default {
                <div class="button-row">
                    <a mat-button routerLink="/">Exit</a>
                </div>                
            }
        }
        <image-map class="map-container" (selectionChange)="placeSuggestion.setSuggestion($event)"></image-map>
    </div>
    <div>
        <mat-card class="score-card" appearance="outlined">
            <mat-card-header>
              <mat-card-title>{{theme.name}}</mat-card-title>
              <mat-card-subtitle>{{theme.description}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Playing image {{selectedImageIndex+1}} out of {{images.length}}</p>
            </mat-card-content>
            <mat-card-footer class="score-card-footer">
                <p>Total Score: {{totalScore()}}</p>
            </mat-card-footer>
        </mat-card>
        @for (result of tryResults; track $index) {
            <div class="result-section">
                <mat-icon [color]="result.suggestionOptions.iconColor">{{result.suggestionOptions.icon}}</mat-icon>
                {{result.suggestion.description}} <br>
                {{result.suggestionOptions.message}}
            </div>
            
        }
        @if (tryResults.length > 0) {
            <h3>Score: {{score}}</h3>
        }
    </div>
</div>
}