<div class="center">
    @if (!loggedIn) {
        <form [formGroup]="login" (ngSubmit)="onLoginSubmit()" class="admin-form">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>
            @if (loginError) {
                <p class="error">
                    {{ loginError }}
                </p>
            }
            
            <button type="submit" mat-raised-button color="accent" [disabled]="!login.valid">Login</button>
        </form>
    } @else {
        <h2>Select a theme to edit or create a new theme</h2>
        <mat-form-field class="select-theme">
            <mat-label>Themes</mat-label>
            <mat-select [(value)]="selectedTheme" (selectionChange)="onSelectedTheme()">
                <mat-option class="create-theme-option" (onSelectionChange)="createTheme = true">Create New Theme</mat-option>
                @for (theme of (themes | async); track theme.id) {
                    <mat-option [value]="theme">
                        {{theme.name}}
                    </mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if (createTheme) {
            <form [formGroup]="adminTheme" (ngSubmit)="onSubmit()" class="admin-form">
                <mat-form-field>
                    <mat-label>Theme name</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Theme description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
                <button type="submit" mat-raised-button color="accent">Create</button>
            </form>
        }
    }
</div>