<div class="center">
    <form [formGroup]="login" (ngSubmit)="onLoginSubmit()" class="admin-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <textarea matInput formControlName="password"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">Login</button>
    </form>
    <h2>Select theme to add images</h2>
    <mat-form-field>
        <mat-label>Themes</mat-label>
        <mat-select [(value)]="selectedTheme" (selectionChange)="onSelectedTheme()">
            @for (theme of (themes | async); track theme.id) {
                <mat-option [value]="theme">
                    {{theme.name}}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <form [formGroup]="adminTheme" (ngSubmit)="onSubmit()" class="admin-form">
        <mat-form-field>
            <mat-label>Theme name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Theme description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button type="submit" mat-raised-button color="accent">Create</button>
    </form>
</div>