<div>
    <h4>Select theme to start game</h4>
</div>
<div class="theme-list">
    <a *ngFor="let theme of themes | async" class="project-list-item"
        [routerLink]="['/theme/', theme.id]">
        <mat-card class="theme-card">
            <mat-card-header>{{theme.name}}</mat-card-header>
            <img mat-card-image [ngSrc]="themeImage(theme)" width="320" height="240" alt="No Image">
            <mat-card-content>{{theme.description}}</mat-card-content>
        </mat-card>
    </a>
</div>