.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
}


.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-container {
    display:flex;
    justify-content: space-around;
    gap: 40px;
    padding-bottom: 32px;
}

.help-container {
    padding-bottom: 24px;
    text-align: center;
}
