.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;

    @media (max-width: 720px) {
        justify-content: center;
    }
}

.theme-list-x {
    display: grid;
    height: 100vh; /* Adjust as needed */
    grid-auto-flow: column;
    justify-content: center;    
}

.theme-list-item {

    &,
    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
    }

    color: white;
}

.theme-card {
    margin: 16px;
    max-width: 320px;
}