.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-list {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;    
}

.theme-list-item {

    &,
    &:active,
    &:hover,
    &:focus {
        text-decoration: none;
    }

    color: white;
}

.theme-card {
    margin: 16px;
    width: 320px;
}